.menuItemContainer {
  position: relative;
}

.menuItem {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.menuItem:hover {
  background-color: #f0f0f0;
}

.subMenu {
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding-left: 0;
  visibility: hidden;
}

.subMenu.visible {
  visibility: visible;
}

.subMenu li {
  margin-left: 11em;
}

.subMenuItem {
  display: block;
  padding: 8px;
  color: #333;
  text-decoration: none;
}

.subMenuItem:hover {
  background-color: #eaeaea;
}
