@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.table-container {
  font-family: Arial, sans-serif;
  width: 100%;
  border-collapse: collapse;
  overflow-x: auto;
  width: max-content;
  min-width: 100%;
}

.table-container th,
.table-container td {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;

  text-align: left;
}
/* Tablo başlık stil */
.table-container th {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  padding-right: 2em;
  padding-bottom: 1em;
}

.table-container tr {
  font-size: 1em;
  background-color: #0f2545;
  color: #ffffff;
  border-bottom: 0.1em solid #10305a;
}

.table-scroll {
  overflow-x: scroll;
  padding: 1em 0em;
  display: flex; /* Yatay hizalama için flex kullanın */
  justify-content: center;
  scrollbar-color: #0a51ab #0d3e7d;
}
.page-num-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 0.5em;
  justify-content: left;
}

.table-container-wrapper {
  border-radius: 0.5em;
  padding: 0;
  min-width: 100%;
}

.table-container tbody tr:hover {
  cursor: pointer;
  background-color: #a5d5fa;
  color: #314759;
}

.table-container thead tr {
  border: none;
}
.table-container thead {
  border-bottom: 2px solid #10305a;
}
.pagenumbers {
  color: #f9fafa;
  display: flex;
  gap: 0em 1em;
  background-color: #0a51ab;
  padding: 0.6em 0.6em;
  border-radius: 0.2em;
  font-size: 0.9em;
}

.page-num-list li button {
  padding: 0.3em;
}

button {
  background-color: #0a51ab;
  color: #f9fafa;
  border: none;
  padding: 0.5em 1em;
  border-radius: 0.2em;
}
.pages {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 2em;
}
.data-table-page-container {
  margin: 1em auto;
  width: 98%;
  padding: 1em;
  background-color: #0f2545;
  border-radius: 0.8em;
}
h3 {
  text-align: center;
  font-size: 1.3em;
  color: #f9fafa;
  background-color: #0f2545;
  margin: 0.5em auto;
  width: 20%;
  padding: 0.5em;
  border-radius: 0.4em;
}
.buttons {
  display: flex;

  gap: 0em 1em;
}
button:hover {
  cursor: pointer;
  background-color: #10305a;
}

.activePageButton {
  background-color: #10305a;
  color: #fff;
}
.table-container input {
  outline: none;
  padding: 0.6em 0.3em;
  width: 70%;
  background-color: #a5d5fa;
  border-radius: 0.3em;
  border: 1px solid #0a51ab;
  color: #314759;
  font-size: 0.8em;
}
.table-container tbody tr td {
  padding: 1.2em 0.2em;
}

.loadingSpinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}
.table-container td:nth-child(3) {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  padding: 0.4em 1em;
}
.table-container td:nth-child(2) {
  font-size: 1em;
  padding: 0em 2em;
}
.table-container th:nth-child(2) {
  font-size: 1em;
  padding-left: 2em;
}

.filter-buttons {
  display: flex;
}
