@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
.open-sans-h1 {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0em 0em;
}
body {
  background-color: #141414 !important;
}
header {
  display: flex;
  flex-direction: row;
  padding: 1em 0em;

  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

h1 {
  color: #e6e6e6;
}
main {
  margin-bottom: 10em;
}
a {
  text-decoration: none;
}
.bgc {
  background-color: white !important;
}
/*----------------------------DATAGRID-------------a lari duzenle------------*/
